/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Define general styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f2f2f2, #dcdcdc);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Header and Footer styles */
header, footer {
    background: linear-gradient(to bottom, #4CAF50, #45A942);
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    position: sticky;
    top: 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Main content styles */
main {
    padding: 20px 0;
}

.soup-kitchen {
    margin-bottom: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.soup-kitchen-card {
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s, background-color 0.3s;
}

.soup-kitchen-card h2 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Change the font color */
}

.soup-kitchen-card p {
    font-size: 16px;
    color: #555; /* Change the font color */
}

/* Animation for expanding soup kitchens */
.soup-kitchen.expanded {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: scroll;
}

.soup-kitchen.expanded .soup-kitchen-card {
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.soup-kitchen.expanded .expanded-content {
    display: block;
    padding-top: 20px;
}

.soup-kitchen.expanded .expanded-content p {
    margin: 10px 0;
}
